* {
    margin: 0;
    padding: 0;
    font-family: Dyno;
    color: ghostwhite;
}

body {
    background-color: #7851a9;
}

.intro {
    margin-top: 30px;
    font-size: 72px;
}

.fade-in-anim {
    animation: fadeIn-to-top 0.75s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    user-select: none;
    text-decoration: none;
}

.intro.fade-in-anim {animation-delay: 1.0s;}
.time.fade-in-anim {animation-delay: 1.75s;}
.outro.fade-in-anim {animation-delay: 2.5s;}

.outro {
    font-size: 48px;
}

.container {
    display: flex;
	height: 66vh;
	flex-direction: column;
	justify-content: center;
    align-items: center;;
}

.time {
    font-size: 48px;
}

.time img {
    width: 60px;
    height: 60px;
    animation: rotate 2.5s linear infinite;
    margin: 0 15px;
}

#number {
    font-family: monospace;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn-to-top {
    from {
        opacity: 0;
        transform: translateY(1.25em);
    }

    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@font-face {
    font-family: 'Dyno';
    src: url('./fonts/DynoRegular.woff2') format('woff2'),
        url('./fonts/DynoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

