* {
    margin: 0;
    padding: 0;
    font-family: Dyno;
    color: ghostwhite;
}

body {
    background-color: #184349;
}

.intro {
    margin-top: 30px;
    font-size: 72px;
}

.fade-in-anim {
    animation: fadeIn-to-top 0.75s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    user-select: none;
    text-decoration: none;
}

.fade-in-anim-cell {
    animation: fadeIn 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.intro.fade-in-anim {animation-delay: 0.25s;}
.time.fade-in-anim {animation-delay: 1.0s;}
.outro.fade-in-anim {animation-delay: 1.75s;}
.showlist.fade-in-anim {animation-delay: 2.5s;}

.outro {
    font-size: 48px;
}

.container {
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.time {
    font-size: 48px;
}

.time img {
    width: 60px;
    height: 60px;
    animation: rotate 2.5s linear infinite;
    margin: 0 15px;
}

#number {
    font-family: monospace;
}

.showlist {
    margin-top: 50px;
}

.exitButton {
    position: fixed;
}

#exit {
    z-index: 3;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #9155db;
    border: 5px solid ghostwhite;
    border-radius: 10px;
    font-size: 48px;
    font-weight: bold;
    transition: 0.35s;
}

button a {
    font-weight: 100;
}

button:hover {
    cursor: pointer;
    background-color: #a261f1;
}

table {
    width:66%;
    margin: 25px 0;
}

th {
    font-size: 48px;
}

td {
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
}

tr {
    margin: 0;
}

table, td, th {
    border-collapse: collapse;
}

th {
    background: #9269c3;
    border-bottom: 3px solid white;
}

tr:nth-child(even) {
    background: #9269c3;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn-to-top {
    from {
        opacity: 0;
        transform: translateY(1.25em);
    }

    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Dyno';
    src: url('./fonts/DynoRegular.woff2') format('woff2'),
        url('./fonts/DynoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

